<div class="container text-center mt-5">
    <h1 class="display-4 mb-4">Welcome to MovieWorld</h1>
  
    <div class="card mx-auto">
      <div class="card-body">
        <img src="https://i.gifer.com/V2Y0.gif" class="card-img-top bg-dark text-white" alt="MovieWorld Image">
        <p class="card-text">
          Welcome to my Movie Directory application using a Python Back-End, Angular Front-End and MongoDB to manage my dataset of over 100 Movies. 
        </p>
        <a href="/movies" class="btn btn-primary">Explore Movies</a>
      </div>
    </div>
  </div>
  